@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 67% 94%;
    --foreground: 231 48% 20%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 20%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 234 60% 88%;
    --secondary-foreground: 231 48% 30%;
    --muted: 234 60% 88%;
    --muted-foreground: 231 40% 45%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 98%;
    --warning: 45 93% 47%;
    --warning-foreground: 0 0% 98%;
    --border: 231 30% 75%;
    --input: 231 30% 80%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 231 22% 10%;
    --foreground: 0 0% 98%;
    --card: 231 22% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 231 22% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 22% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 22% 20%;
    --muted-foreground: 231 10% 60%;
    --accent: 36 100% 60%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 142.1 70.2% 46.3%;
    --success-foreground: 0 0% 98%;
    --warning: 45 93% 57%;
    --warning-foreground: 0 0% 0%;
    --border: 231 22% 30%;
    --input: 231 22% 30%;
    --ring: 231 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
